.cmake/*
.idea/*
.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles/*
Testing/*
bin/no_builder
bin/simple_builder
bin/fluent_builder
bin/better_fluent_builder
bin/groovy_builder
bin/complex_builder
build.ninja
cmake_install.cmake
